numpy==1.23.5
scipy>=1.6.0
librosa==0.10.1
tensorflow>=2.13.0
pandas<2.0.0
matplotlib
flask
psycopg2-binary
spotipy
youtube-dl
requests
beautifulsoup4
pydub
essentia
flask-wtf
bootstrap-flask
jinja2
weasyprint
demucs>=4.0.0
torchaudio
torch
flask-bootstrap
werkzeug>=2.0.0