flask>=2.3.3
librosa>=0.10.1
numpy>=1.24.0
scipy>=1.11.0
tensorflow>=2.13.0
pandas>=2.0.3
matplotlib>=3.7.1
flask-wtf
bootstrap-flask
jinja2
weasyprint
demucs>=4.0.0
torchaudio
torch
flask-bootstrap
werkzeug>=2.3.7
gunicorn>=21.2.0
python-dotenv>=1.0.0
soundfile